<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-search/paper-search-panel.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animated-pages.html">

<link rel="import" href="../portal-home/portal-home.html">
<link rel="import" href="../portal-ons/portal-ons.html">

<dom-module id="portal-container">
    <template>
        <style>
            app-toolbar {
                /* Toolbar is the main header, so give it some color */
                background-color: #000000;
                font-family: Arial, Helvetica, freesans, sans-serif;
                color: white;
                --app-toolbar-font-size: 24px;
            }
            paper-tabs {
                --paper-tabs-selection-bar-color: white;
            }
            paper-tab {
                color: white;
                --paper-tab-ink: white;
            }
            paper-search-bar {
                color: #000000;
            }
        </style>

        <app-location route="{{route}}"></app-location>

        <app-route
                route="{{route}}"
                pattern="/:view"
                data="{{routeData}}"
                tail="{{subroute}}">
        </app-route>

        <app-header>
            <app-toolbar>
                <paper-tabs selected="[[routeData.view]]" attr-for-selected="name" style="width: 200px;">
                    <paper-tab name="home"><a href="/home">Home</a></paper-tab>
                    <paper-tab name="ons"><a href="/ons">ONS</a></paper-tab>
                </paper-tabs>
                <div main-title>&nbsp;</div>
                <paper-search-bar hide-filter-button="true"></paper-search-bar>
            </app-toolbar>
        </app-header>

        <iron-pages selected="[[routeData.view]]" attr-for-selected="name">
            <portal-home name="home" route="{{subroute}}"></portal-home>
            <portal-ons name="ons" route="{{subroute}}"></portal-ons>
        </iron-pages>

        <!--<neon-animated-pages selected='{{data.tabName}}'-->
                             <!--attr-for-selected='key'>-->
            <!--<neon-animatable key='home'><portal-home></portal-home></neon-animatable>-->
            <!--<neon-animatable key='ons'><portal-ons></portal-ons></neon-animatable>-->
        <!--</neon-animated-pages>-->



        <!--<iron-pages selected="[[routeData.view]]" attr-for-selected="name">-->
            <!--<my-profile-view name="profile" route="{{subroute}}"></my-profile-view>-->
            <!--<my-message-list-view name="messages" route="{{subroute}}"></my-message-list-view>-->
            <!--<my-detail-view name="detail" route="{{subroute}}"></my-detail-view>-->
        <!--</iron-pages>-->

        <!--<div id="main">-->

        <!--</div>-->

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class PortalContainer extends Polymer.Element {
            static get is() { return 'portal-container'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'portal-container'
                    },
                    routeData: Object,
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged'
                    }
                };
            }
            static get observers() {
                return [
                    '_routePageChanged(routeData.view)',
                ];
            }

            /**
             *       static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

             static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

             _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

             _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

             _showPage404() {
        this.page = 'view404';
      }
             *
              * @param changeRecord
             * @private
             */



            _routeChanged(changeRecord) {
                if (changeRecord.path === 'path') {
                    console.log('Path changed!');
                }
            }
            _viewChanged(view) {
                // load data for view
            }
        }
        window.customElements.define(PortalContainer.is, PortalContainer);
    </script>
</dom-module>
