<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/app-grid/app-grid.html">
<link rel="import" href="../../../bower_components/app-layout/app-grid/app-grid-style.html">


<dom-module id="portal-home">
    <template>
        <style include="app-grid-style">
            .container {
                background-color: #e7e8e1;
            }
            :host {
                --app-grid-gutter: 15px;
                /*--app-grid-columns: 3;*/
                /*--app-grid-expandible-item-columns: 3;*/
            }
            /* Only the first item should expand */
            /*.item:first-child {*/
                /*@apply --app-grid-expandible-item;*/
            /*}*/
        </style>

        <div style="padding:20px;background-color: #e7e8e1">
            <h2 style="font-family: Arial">Welcome to martinetherton.com</h2>
            <paper-card heading="Etherton One Name Study" image="./app/components/portal-home/ftree.png" alt="Etherton one name study" class="white">
                <div class="card-content">London Ethertons</div>
            </paper-card>
            <paper-card style="margin-left: 15px" heading="Top western road trips" image="./app/components/portal-home/happy.png" alt="Sailboat Harbor" class="white">
                <div class="card-content">1,000 miles of wonder</div>
            </paper-card>
            <paper-card style="margin-left: 15px" heading="Top western road trips" image="./app/components/portal-home/happy.png" alt="Sailboat Harbor" class="white">
                <div class="card-content">1,000 miles of wonder</div>
            </paper-card>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class PortalHome extends Polymer.Element {
            static get is() { return 'portal-home'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'portal-home'
                    }
                };
            }
        }

        window.customElements.define(PortalHome.is, PortalHome);
    </script>
</dom-module>
