<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-search/paper-search-panel.html">
<link rel="import" href="../portal-home/portal-home.html">

<dom-module id="portal-container">
    <template>
        <style>
            app-toolbar {
                /* Toolbar is the main header, so give it some color */
                background-color: #000000;
                font-family: Arial, Helvetica, freesans, sans-serif;
                color: white;
                --app-toolbar-font-size: 24px;
            }
            paper-tabs {
                --paper-tabs-selection-bar-color: white;
            }
            paper-tab {
                color: white;
                --paper-tab-ink: white;
            }
            paper-search-bar {
                color: #000000;
            }
        </style>

        <app-header>
            <app-toolbar>
                <paper-tabs selected="0" style="width: 200px;">
                    <paper-tab>Home</paper-tab>
                    <paper-tab>ONS</paper-tab>
                </paper-tabs>
                <div main-title>&nbsp;</div>
                <paper-search-bar hide-filter-button="true"></paper-search-bar>
            </app-toolbar>
        </app-header>

        <app-location route="{{route}}"></app-location>
        <app-route
                route="{{route}}"
                pattern="/:view"
                data="{{routeData}}"
                tail="{{subroute}}">

        </app-route>
        <iron-pages selected="[[routeData.view]]" attr-for-selected="name">
            <my-profile-view name="profile" route="{{subroute}}"></my-profile-view>
            <my-message-list-view name="messages" route="{{subroute}}"></my-message-list-view>
            <my-detail-view name="detail" route="{{subroute}}"></my-detail-view>
        </iron-pages>

        <portal-home></portal-home>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class PortalContainer extends Polymer.Element {
            static get is() { return 'portal-container'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'portal-container'
                    }
                };
            }
        }
        window.customElements.define(PortalContainer.is, PortalContainer);
    </script>
</dom-module>
